    body {
          
          max-width: 1200px;
          margin: 0 auto;
          padding: 20px;
          background-image: url(https://img.freepik.com/free-vector/spring-floral-watercolor-background-vector-green-with-leaf-illustration_53876-126350.jpg?w=740&t=st=1686032459~exp=1686033059~hmac=22dd755dc6d4f6490c601362832d3a3298a308d52b75abf91a5cf48274f531ad);
          background-size: cover;
          background-repeat: no-repeat;  }
          .card {
             position: absolute;
             width: 240px;
             height: auto;
             background-image: url("images/pink-flower.jpg");
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center center;
             padding: 10px;
             border-radius: 5px;
             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
             cursor: move;
          }
       h1{
            font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
            color: #AD3565
          }
          .card-content {
             margin: 0px 0px 2px 55px;
             padding: 0px;
            font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
            color:#AD3565;
                         
          }
          .card-content button {
            background-color: #FEE49F;
            border: 2px solid #744e0d;
            border-radius: 20px;
            width: 120px;
            margin-left: 1px;
            margin-bottom: -21px;
          }
     
          .close-button {
             position: absolute;
             font-size: 20px;
             color: #DE9108;
             border: 2px solid #744e0d ;
             top: 5px;
             right: 5px;
             background-color:#AD3565;
             border-radius: 80px;
             font-weight: bold;
             cursor: pointer;
          }
          .card img {
             max-width: 45%;
             border-radius: 20px;
             height: auto;
             border: 3px solid pink;
              }
         button  {
            margin-bottom: 1px;
            background-color: red;
            width: 400px;
         }
         #delete-all-button {
          display: block;
          margin: 20px auto;
          text-align: center;
          background-color: pink;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
        }    

       
/*
          .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
          }
          
          .card {
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          }
          
          /* Estilos adicionales para los contenidos de la tarjeta 
          .card img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
          }
          
          .card-content {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            color: #333;
          }
          
          .card-content h3 {
            font-size: 18px;
            margin-bottom: 5px;
          }
          
          .card-content p {
            font-size: 14px;
            margin-bottom: 10px;
          }
          
          .card-content button {
            background-color: #f00;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 5px 10px;
            cursor: pointer;
          }
          
          .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 20px;
            color: #333;
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
          */