body {
  max-width: 1200px;
  margin:  auto;
  padding: 20px;
  background-image: url(https://img.freepik.com/free-vector/spring-floral-watercolor-background-vector-green-with-leaf-illustration_53876-126350.jpg?w=740&t=st=1686032459~exp=1686033059~hmac=22dd755dc6d4f6490c601362832d3a3298a308d52b75abf91a5cf48274f531ad);
  background-size: cover;
  background-repeat: no-repeat; 
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #333;   
}

.card{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 20px;

  }

#recipe-list {
  margin-top: 50px;
  background-color: #1a1919;
  border: 3px solid #100f0f;
  border-radius: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
}
/*
#ingredient-list {
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #6CBA59;
}

#instructions-list {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #6CBA59;
}
*/


.card h2 {
  font-size: 16px;
  color: #64335c;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 10px;
}

.card img {
  width: 99%;
  height:90%; ;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid #7f957a;
}

.card p {
  font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 10px;
  color: #1c1313;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Colores de los botones */
button.vegetarian { background-color: #6CBA59; }
button.vegan { background-color: #FF9B9D; }
button.gluten-free { background-color: #FACD55; }
button.keto { background-color: #8A55F7; }
button.pescatarian { background-color: #55DFF7; }
button.paleolithic { background-color: #FFA500; }
button.primal { background-color: #FF726F; }
button.whole-30 { background-color: #8AF755; }