body {
    
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-image: url(https://img.freepik.com/free-vector/spring-floral-watercolor-background-vector-green-with-leaf-illustration_53876-126350.jpg?w=740&t=st=1686032459~exp=1686033059~hmac=22dd755dc6d4f6490c601362832d3a3298a308d52b75abf91a5cf48274f531ad);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.title {
    font-size: 32px;
    color: #6CBA59;
    text-align: center;
    margin-bottom: 20px;
}
nav {
    background-color: #91D975;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #FF9B9D;
    color: #FFF;
}

#search-bar {
    text-align: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6CBA59;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #549746;
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.recipe {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.recipe img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.recipe p {
    margin: 0;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

