body {
    
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-image: url(https://img.freepik.com/free-vector/spring-floral-watercolor-background-vector-green-with-leaf-illustration_53876-126350.jpg?w=740&t=st=1686032459~exp=1686033059~hmac=22dd755dc6d4f6490c601362832d3a3298a308d52b75abf91a5cf48274f531ad);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    color: #91D975;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to right, #FF9B9D, #FAC4C8);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    background-size: 200% 100%;
    animation: gradientAnimation 40s ease infinite;
}

    @keyframes gradientAnimation {
        0% {
        background-position: 100% 50%;
    }
        50% {
        background-position: 0% 50%;
    }
        100% {
        background-position: 100% 50%;
    }
}

    @keyframes pulseAnimation {
        0% {
        transform: scale(1);
    }
        50% {
        transform: scale(1.05);
    }
        100% {
        transform: scale(1);
    }
}

.title:hover {
    animation: pulseAnimation 1.0s ease-in-out infinite;
}

h2 {
    margin-bottom: 15px;
    margin-top: 5px;
    color:#daa9aa;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   
  }

nav {
    background-color: #91D975;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
    
}

nav ul li {
    margin: 0 10px;
    
}

nav ul li a {
    color: #FFF;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav ul li a:hover {
    background-color: #FF9B9D;
    color: #FFF;
    
}

/* Estilos para el modal de login */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  #password-input {
    display: block;
    margin-bottom: 10px;
  }
  
  #login-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
  }

h1{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10;
    color:#daa9aa
}

/* estilos carrusel fotos  */
.photo-row {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  
  .photo {
    position: relative;
    width: 150px;
    flex: 1 0 150px;
    transition: flex 2.3s ease;
    overflow: hidden;
  }
  
  .photo img {
    width: 100%;
    height: 200px;
    display: block;
  }
    
  .photo:hover {
    flex: 2 0 150px;
  }
 
/*estilos lista de ingredientes*/
#ingredient-selector, #recetas {
    background-color: #f5d9d9;
    margin-bottom: 20px;
    
  }
  
.ingredientes {
    cursor: pointer;
    text-align: center;
    margin: 10px 85px;
    flex: 1;
    padding: 5px;
    border: 5px solid rgb(169, 163, 163);
    border-radius: 10px;
}

#ingredient-selector {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

  }

#ingredient-list {
    display:contents;
    flex-wrap: wrap; /* Propiedad para permitir el ajuste automático de los elementos */
    padding: 0px;
    margin: 0px -20px;

  }

.lista-ampliada li {
    width: 400px;
    background-color: #f5d9d9;
    text-align:center;
    list-style-type: none;
    margin-left: 80px;
    position: relative;
    padding-left: 35px;
    line-height: 20px;
    border-radius: 10px;
}

.lista-ampliada li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 370px;
    width: 16px;
    height: 16px;
    border: 2px solid #22bb33;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.lista-ampliada li.checked::before {
    background-color: #22bb33;
}
  
ul {
    color:#0c5902;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FF9B9D;
  }

#search-bar {
    text-align: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6CBA59;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #549746;
}



.favorite-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .favorite-button img {
    width: 24px;
    height: 24px;
  }
.recipe-day{
    
    margin: 10px 100px;
    height: 750px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    color: #5a834a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to right, #FF9B9D, #FAC4C8);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    background-size: 200% 100%;
    }
#dateDisplay {
        display: block;
        font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        background-color: #f5d9d9;
        border-radius: 10px;
        padding: 0px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: #5a834a;
    }
    
.card-text{
    color:#5a834a;
    font-size: 16px;
    margin-bottom: 25px;
    width: 250px;
    height: 40px;
}
.list-group-item-secondary{
    margin-top: 20px;
    color:#198754;
    font-size: 16px;
    background-color: #4dff36;
    border-radius: 10px;
    border: 5px solid seagreen;
    padding: 10px;
    
}
.list-group-item{
    font-size: 14px;
}

footer {
    color: #fff;
    text-align: center;
    padding: 0px;
    border: 5px solid #daa9aa;
    border-radius: 10px;
    height: 500px;
}

footer p {
    margin: 0;
    color:#549746
}
.col-md-5 {
    
    flex-wrap: wrap;
    padding: 10px;
    



}

#newsletter1{
    background-color:#daa9aa ;
    width: 280px;
}